table,tr,td{
font-family: century gothic;
color: black ;
border: 1px solid aqua;
padding: 5px;
background-color: white;
}
.posisi{
position: absolute;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
margin-top: auto;
left: 160px;
right: 0;
top: 60px;
bottom: 0;
}
body{
background-image: url('background.jpeg');
background-repeat: no-repeat;
background-size: 1480px auto;
background-attachment: fixed;
}